* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family:  Universal Sans Display, -apple-system, Arial, sans-serif;
    background: white;
    color: white; 
    font-size: 19px;
    line-height: 1.5;
    text-align: center;
}

.container {
    width: 90%;
    max-width: 1300px;
    margin: auto;
}

ul {
    list-style: none;
}

.home-page {
    background-image: url(images/img_1.avif);
    background-size: cover;
    background-position: center; 
    min-height: 100vh;
}


/* navbar starts */
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3em;
    padding: 1em 2em;
    background-color: transparent; 
    position: fixed; 
    top: 0;
    left: 0;
    right: 0; 
    z-index: 1000;
    transition: background-color 0.3s ease, opacity 0.3s ease, transform 0.3s ease; 
}

.left-menu a,
.right-menu img {
    color: white;
    transition: color 0.3s ease; 
}

.nav-bar.scrolled .logo {
    filter: invert(1);
}
.nav-bar.scrolled .left-menu a {
    color: black; 
}

.nav-bar.scrolled .right-menu img {
    filter: invert(1); 
}


.nav-bar.scrolled {
    background-color: #FFFFFF;
}

.nav-bar.scrolled .left-menu a:hover {
    background-color: #ebe7e7;
}

.nav-bar.scrolled .right-menu img:hover {
    background-color: #6d6d6d;
    filter: invert(0);
}


.hidden {
    opacity: 0; 
    transform: translateY(-100%); 
}

.nav-bar a {
    font-size: 0.7em;
    color: white;
    font-weight: 500;
    text-decoration: none;
}

.logo {
    width: 12em;
    height: 6em;
    margin-top: 0.1em;
    margin-left: 1em;
}

.left-menu {
    display: flex;
    flex: 1;
    justify-content: center;
    padding-left: 0; 
    margin-left: 0;
}

.left-menu li {
    padding: 0 0.5em; 
}

.left-menu a {
    padding: 0.5em 0.5em;
    border-radius: 2px;
    transition: background-color 0.3s ease;
}

.left-menu a:hover {
    background-color: #557AA0;
    color: white
}

.right-menu {
    display: flex;
}

.right-menu li {
    list-style: none; 
    margin-left: 0.5em;
}

.right-menu img {
    width: 2.5em;
    height: 2.5em;
    padding: 0.5em;
    border-radius: 2px;
    transition: background-color 0.3s ease;
}

.right-menu img:hover {
    background-color: #557AA0;
}

/* navbar ends */

/* homepage */

.container h1 {
    padding-top: 1.2em;
    font-size: 2.8em;
    font-weight: 500;
    margin:0;
    line-height: 1;
}

.container h3 a {
    color: white;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none; 
    border-bottom: 1px solid white; 
    padding-bottom: 0.1em; 
    margin-top: 0.5em;
    margin-bottom: 0.2em;
    transition: border-bottom 0.1s ease;
}

.container h3 a:hover {
    border-bottom: 2px solid white;
}

.container h5 {
    font-size: 0.8em;
    font-weight: 500;
}

.container sup {
    font-size: 0.7em;
    font-weight: 100;
}

/* buttons */

.buttons {
    display: flex; 
    justify-content: center;
}

.buttons button {
    border: none; 
    padding: 1em 8em; 
    cursor: pointer; 
    margin-top: 28em;
    border-radius: 3px;
    font-weight: 500;
}

.buttons button:first-child {
    background-color: #3E6AE1;
    color: white;
    margin-right: 1em;
}

.buttons button:last-child {
    background-color: white; 
    color: #686767;; 
    
}

/* page2 */

.page2 {
    background-image: url(images/img_2.avif);
    background-size: cover;
    background-position: center; 
    min-height: 100vh; 
}

/* page 3*/

.page3 {
    background-image: url(images/img_3.avif);
    background-size: cover; 
    background-position: center; 
    min-height: 100vh; 
}

.con a {
    color: white;
    font-size: 17px;
    text-decoration: none; 
    border-bottom: 1px solid white; 
    padding-bottom: 0.1em; 
    margin-bottom: 0.2em;
    transition: border-bottom 0.1s ease;
}

.con a:hover {
    border-bottom: 2px solid white;
}

/* page 4*/

.page4 {
    background-image: url(images/img_4.avif);
    background-size: cover; 
    background-position: center; 
    min-height: 100vh; 
}

/* page 5*/

.page5 {
    background-image: url(images/img_5.avif);
    background-size: cover; 
    background-position: center; 
    min-height: 100vh; 
}

/* button-variety */

.buttons-v {
    display: flex; 
    justify-content: center;
}

.buttons-v button {
    border: none; 
    padding: 1em 6em; 
    cursor: pointer; 
    margin-top: 22em;
    border-radius: 3px;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.7);;
    color: #A19290;
    margin-right: 1em;
}

.buttons-v button:hover {
    background-color: #2B1E20;
}


/* page 6*/

.page6 {
    background-image: url(images/img_6.avif);
    background-size: cover; 
    background-position: center; 
    min-height: 100vh; 
}

/* buttons mid*/

.buttons-m {
    display: flex; 
    justify-content: center;
}

.buttons-m button {
    border: none; 
    padding: 1em 7em; 
    cursor: pointer; 
    margin-top: 30em;
    border-radius: 3px;
    font-weight: 500;
}

.buttons-m button:first-child {
    background-color: #3E6AE1;
    color: white;
    margin-right: 15px;
}

.buttons-m button:last-child {
    background-color: white; 
    color: #686767;
}


/* page 7*/

.page7 {
    background-image: url(images/img_7.avif);
    background-size: cover; 
    background-position: center; 
    min-height: 100vh;
}

/* page 8*/

.page8 {
    background-image: url(images/img_8.avif);
    background-size: cover; 
    background-position: center; 
    min-height: 100vh; 
}

/* page 9*/

.page9 {
    background-image: url(images/img_9.avif);
    background-size: cover; 
    background-position: center;
    min-height: 100vh; 
}

/* button last */

.buttons-l {
    display: flex; 
    justify-content: center;
}

.buttons-l button {
    border: none; 
    padding: 1em 8em; 
    cursor: pointer; 
    margin-top: 33em;
    border-radius: 3px;
    font-weight: 500;
    background-color: #3E6AE1;
    color: white;
}

/* footer */
.footer {
    background-color: black;
    color: #ebebeb;
    padding: 2em;
    padding-bottom: 1em;
    padding-left: 10em;
    padding-right: 10em;
}

.footer p {
    font-size: 0.6em;
    font-weight: 300;
    opacity: 0.8;
    line-height: 1.5em;
    
}

.footer sup {
    font-size: 7px;
}

.footer a {
    color: #ffffff;
    font-size: 11px;
    font-weight: 500;
    text-decoration: none; 
    border-bottom: 1px solid #ffffff; 
    padding-bottom: 1px; 
    margin-bottom: 0px;
    transition: border-bottom 0.1s ease;
}

.footer a:hover {
    border-bottom: 2px solid #ffffff;
}

.foot {
    display: flex; 
    justify-content: center;
    align-items: center;
}

.foot ul {
    padding: 0; 
    margin: 0; 
    list-style: none; 
    display: flex; 
}

.foot li {
    margin-right: 15px; 
    color: #d4d4d4;
    opacity: 0.8
}

.foot li:last-child {
    margin-right: 0; 
    margin-bottom: 0;
}

.foot a {
    text-decoration: none;
    border-bottom: none;
}

.foot a:hover {
    border-bottom: none;
}
